@font-face {
    font-family: 'chulbul';
    src: url('fonts/Inter-Medium.woff') format('woff'),
}

@font-face {
    font-family: 'shonomono';
    src: url('fonts/KodeMono-VariableFont_wght.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --mix-color: color-mix(in lab, currentColor, rgb(89, 173, 210) 50%);
    --bg-color: rgba(27, 27, 27, 0.7);
    --hover-color: 29, 37, 44;
}

html {
    --main-color: rgb(213, 87, 87);
    color-scheme: dark;
    font-size: 11.25px;
    color: var(--main-color);
}

img {
    width: 100%;
}

body {
    height: 100dvh;
    width: 100dvw;
    background: center / cover no-repeat url('imgs/bg.jpg');
    position: relative;
    user-select: none;
    font-family: 'shonomono', monospace;
    overflow: hidden;
    color: var(--main-color);
}

body::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(22, 22, 22, 0.65);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.bar {
    height: max-content;
    color: var(--mix-color);
    background-color: #3333332c;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav {
    font-size: 1.7rem;
    padding-inline: 3rem;
    padding-block: 1rem;
}

#weather-wrapper {
    color: var(--mix-color);
    width: fit-content;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 85%;
    padding-block-start: 5rem;
}

a {
    text-decoration: none;
    color: currentColor;
}

li {
    list-style: none;
}

input,
button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.btn-secondary {
    background-color: #222;
    padding: 1rem 1.5rem;
    cursor: pointer;
    text-align: center;
}

.shortcut-link {
    width: 3rem;
    aspect-ratio: 1;
    display: inline-block;
}

#shortcut-wrapper {
    position: relative;
}

#shortcuts {
    max-width: 70rem;
    overflow-x: auto;
    gap: 2rem;
    color: var(--mix-color);
}

.shortcut-item {
    background-color: var(--bg-color);
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 1rem;
    max-width: fit-content;
}

.shortcut-item:hover {
    background-color: rgb(var(--hover-color));
}

#menu {
    position: absolute;
    z-index: 90;
    font-size: clamp(0.5rem, 1.5rem, 2rem);
    display: none;
    flex-direction: column;
    backdrop-filter: blur(10px);
    width: 24rem;
    background-color: var(--bg-color);
}

.fall {
    position: absolute;
    top: -20%;
    right: -10%;
    width: 90px;
    height: 5px;
    border-radius: 10px;
    rotate: -30deg;
    background: linear-gradient(to right, currentColor, transparent 60%);

    animation: fall 1s linear forwards;
}

@keyframes fall {
    from {
        top: -20%;
        right: -10%;
    }

    to {
        top: 120%;
        right: 110%;
    }
}

#clock {
    font-size: clamp(2rem, 20dvw, 14rem);
    text-shadow: 3px 3px 25px rgba(0, 0, 0, 0.514);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
}

#greeting-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cbcbcbd2;
    font-size: clamp(2.7rem, 3dvw, 3rem);
    font-family: 'chulbul', system-ui;

    transition: all 300ms;
}

#greeting-msg {
    letter-spacing: .2rem;
    text-shadow: 5px 5px 25px black;
    outline: none;
}

#meridiem {
    font-size: 0.3em;
}

#name,
#mantra {
    outline: none;
    border: none;
}

.vis-hid {
    visibility: hidden;
}

#name {
    text-align: left;
}

#date {
    opacity: 0.8;
    position: fixed;
    right: 2%;
    bottom: 2%;
    font-size: 1.7rem;
    color: #ccc;
}

#date:hover {
    opacity: 1;
}

.add-shortcut-btn {
    border: none;
    outline: none;
    font-size: 3rem;
    padding-inline: 2rem;
    position: absolute;
    right: -7rem;
}

.shortcut-icon-default {
    font-size: 3rem;
}

#username {
    width: fit-content;
    position: relative;
}

.tooltip {
    display: none;
    position: absolute;
    bottom: -140%;
    left: 50%;
    translate: -50% 0%;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    width: 30rem;
    padding: 2rem 2rem;
    background-color: #2222228f;
    backdrop-filter: blur(3rem);
    color: lightcoral;
}

#username:hover .tooltip {
    display: block;
}

#username h3 {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 7px;
}

#username input {
    width: 23rem;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

#settings-btn {
    font-size: 2rem;
    color: inherit;
    cursor: pointer;
    position: relative;
}

#settings {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222222c3;
    backdrop-filter: blur(10rem);

    display: none;
    grid-template-columns: 300px 1fr;
}

#settings-sidebar {
    background-color: rgba(42, 42, 42, 0.8);
    padding: 2rem 3rem;
    text-align: left;
    color: #aaa;
    font-family: 'chulbul';
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#settings-sidebar h2 {
    font-size: 2rem;
}

#settings-sidebar nav {
    padding: 0;
}

.settings-nav {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.settings-nav-item {
    font-family: system-ui;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    cursor: pointer;
}

.settings-nav-item[aria-active="true"],
.settings-nav-item:hover {
    background-color: rgba(99, 99, 99, 0.2);
}

.cta-wrapper {
    display: flex;
    gap: 1rem;
    margin-top: auto;
}

.cta-wrapper button {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.cta-wrapper button:hover {
    background-color: rgba(var(--hover-color), 0.5) !important;
}

#settings-close {
    background-color: var(--bg-color);
}

#settings-save,
.btn-primary {
    background-color: rgb(1, 105, 208);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

.settings-wrapper[aria-visible='false'] {
    display: none;
}

.settings-editor {
    padding: 2rem 3rem;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    overflow-y: auto;
}

.settings-heading {
    font-size: 3rem;
}

.settings-content {
    margin-block: 2rem;
}

.settings-content ul {
    display: grid;
    gap: 1rem;
}

.settings-content-item {
    padding: 3rem 5rem;
    background-color: #4444449e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(232, 232, 232);
    font-size: 1.5rem;
}

#change-bg-btn {
    background-color: #222;
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.settings-content-item input {
    cursor: text;
    font-size: 1.7rem;
    font-weight: bold;
    border: 1px solid #555;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    color: #aaa;
}

#toggle-animations-btn,
#hide-show-shortcut-btn,
#online-image-btn {
    position: relative;
    padding-right: 3.5rem;
}

.toggle {
    position: relative;
}

.toggle::after {
    position: absolute;
    top: 50%;
    right: 0;
    translate: -50% -50%;
}

.toggle[data-isOn="false"]::after {
    content: '❌';
}

.toggle[data-isOn="true"]::after {
    content: '✅';
}

#add-shortcut-dialog {
    padding: 5rem;
    background-color: #222;
    border: none;
    outline: none;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: 1.7rem;
    width: 30%;
    height: fit-content;
    border-radius: 1rem;
}

#add-shortcut-dialog div {
    display: grid;
    gap: 2rem;
}

#add-shortcut-dialog input {
    padding: 1rem 2rem;
    font-size: inherit;
    border: 1px solid #333;
    border-radius: 1rem;
}

#message {
    position: fixed;
    z-index: 10000000;
    inset: 1%;
    background-color: transparent;
    pointer-events: none;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: all 300ms;
}

.message-wrapper {
    font-family: system-ui, sans-serif;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    background-color: #333;
    pointer-events: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    animation: message 3s ease-in forwards;
}

.message-wrapper img {
    max-width: 20px;
}

.message-text {
    font-size: 1.5rem;
    color: #eee;
}

@keyframes message {
    0% {
        scale: 0;
    }

    5% {
        scale: 1;
    }

    95% {
        scale: 1;
    }

    100% {
        scale: 0;
    }
}