@font-face {
    font-family: 'chulbul';
    src: url('fonts/JosefinSans-VariableFont_wght.woff') format('woff'),
}

@font-face {
    font-family: 'shonomono';
    src: url('fonts/KodeMono-VariableFont_wght.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
}

html {
    color-scheme: dark;
    font-size: 11.25px;
    color: rgb(213, 87, 87);
}

body {
    height: 100dvh;
    width: 100dvw;
    background: url('imgs/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    user-select: none;
    font-family: 'shonomono', monospace;
    overflow: hidden;
}

body::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(22, 22, 22, 0.65);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

nav {
    height: 8dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 3rem;
    font-size: 2rem;
    color: color-mix(in lab, currentColor, rgb(89, 173, 210) 50%);
    background-color: rgba(27, 27, 27, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 0.5rem;
}

main {
    display: grid;
    place-content: center;
    height: 85dvh;
}

#clock {
    font-size: 20rem;
    text-shadow: 3px 3px 25px rgba(0, 0, 0, 0.514);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#greeting-msg {
    font-family: 'chulbul', system-ui;
    font-size: 2.7rem;
    letter-spacing: .5rem;
    color: color-mix(in lab, currentColor, black 10%);
    text-transform: uppercase;
    -webkit-text-stroke: 1px currentColor;
}

#meridiem {
    font-size: 0.3em;
}

#name,
#mantra {
    outline: none;
    border: none;
}

#date {
    color: color-mix(in lab, currentColor, black 30%);
}

.vis-hid {
    visibility: hidden;
}
