body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div[data-slot="3d"] {
  #date-time {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: rgba(255, 255, 255, 0.653);
  }

  #date {
    font-size: 1.4rem;
  }

  #time {
    margin-top: -25px;
    pointer-events: none;
    font-size: 80px;
    font-weight: bold;
  }

  #shortcuts {
    display: flex;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    gap: 1.5rem;
    width: clamp(300px, 60%, calc(100%-2rem));
    background-color: #0f0a14c3;
    backdrop-filter: blur(50px);
    border-radius: 50000px;
    padding: 0.3rem 1.5rem;
  }

  li {
    list-style: none;
  }

  .shortcut-item {
    position: relative;
    color: inherit;
    padding: 0.5rem;
    transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
    z-index: 1;
    will-change: transform;
  }

  .shortcut-icon {
    min-width: 24px;
    min-height: 24px;
  }

  .shortcut-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
    background-color: #0f0a14c3;
    border-radius: 55555px;
    border: 1px solid var(--color-stone-800);
    display: none;
    max-width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.85rem;
    padding: 0.5rem 1rem;
  }

  .shortcut-item:hover .shortcut-name {
    display: block;
  }

  #welcome {
    pointer-events: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
  }

  #welcome h1 {
    display: flex;
    font-size: 2.5rem;
  }

  .welcome-text {
    display: inline-block;
    color: rgba(255, 255, 255, 0.653);
  }
}