@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  *::-webkit-scrollbar {
    display: none;
  }

  .download-item {
    animation: slide-in-left 0.3s ease-out forwards;
    animation-delay: var(--item-delay, 0.1s);
    opacity: 0;
  }

  .download-item[data-status='deleted'] .download-status {
    color: rgb(239, 68, 68);
  }

  .animate-disappear {
    animation: disappear 250ms ease forwards;
  }

  .animate-appear {
    animation: pulse 250ms ease;
  }

  .animate-enter {
    animation: enter 400ms forwards;
  }

  .animate-enter2 {
    animation: enter2 400ms forwards;
  }

  .animate-enter3 {
    animation: enter3 400ms forwards;
  }

  .animate-fade-in {
    animation: fadeIn 300ms forwards;
  }

  .animate-in {
    animation: in 250ms ease-in forwards;
  }

  .animate-come-in {
    animation: come-in 350ms forwards;
  }

  .animate-come-out {
    animation: come-out 350ms forwards;
  }

  .theme__planets-time {
    background: linear-gradient(to bottom, #f43f5e, rgb(254 243 199 / 0.4));
  }

  .theme__galaxy-time {
    background: linear-gradient(to bottom, #4b5563, rgb(209 250 229 / 0.4));
  }

  .theme__spaceDude-time {
    background: linear-gradient(to bottom, #fbbf24, rgb(254 243 199 / 0.4));
  }

  .theme__city-time {
    background: linear-gradient(to bottom, #34d399, rgb(209 250 229 / 0.4));
  }

  .theme__alienet-time {
    background: linear-gradient(to bottom, #a78bfa, rgb(237 233 254 / 0.4));
  }

  .theme__jant-time {
    background: linear-gradient(to bottom, rgb(180 83 9), rgb(251 191 36 / 0.4));
  }

  .theme__dusk-time {
    background: linear-gradient(to bottom, rgb(236 129 129), rgb(7 89 133 / 0.7));
  }

  .theme__expoPlanet-time {
    background: linear-gradient(to bottom, rgb(222, 119, 119), rgba(202, 75, 49, 0.7));
  }

  .theme__beach-time {
    background: linear-gradient(to bottom, rgb(88, 166, 226), rgba(40, 134, 250, 0.897));
  }

  .theme__jungle-time {
    background: linear-gradient(to bottom, rgb(162, 169, 64), rgba(103, 136, 52, 0.897));
  }

  .theme__lake-time {
    background: linear-gradient(to bottom, rgb(145, 88, 226), rgba(40, 85, 250, 0.897));
  }

  .theme__sky-time {
    background: linear-gradient(to bottom, rgb(88, 196, 226), rgba(40, 152, 250, 0.897));
  }

  .theme__spaceBeach-time {
    background: linear-gradient(to bottom, rgb(163, 96, 170), rgba(119, 43, 194, 0.897));
  }

  .theme__date {
    background-clip: text;
    color: transparent;
    font-weight: 200;
    font-size: 16px;
    line-height: 1.75rem;
    text-align: center;
    color: inherit;
  }

  .theme__time {
    background-clip: text;
    color: transparent;
    font-weight: 700;
    font-size: 8rem;
    line-height: 1;
    text-align: center;
  }

  @keyframes pulse {
    50% {
      opacity: .5;
    }
  }

  @keyframes disappear {
    0% {
      opacity: 0.5;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes away {
    to {
      top: 40%;
      opacity: 0;
    }
  }

  .animate-away {
    animation: away 400ms forwards;
  }

  @keyframes enter {
    from {
      scale: 0;
    }

    to {
      scale: 1;
    }
  }

  @keyframes enter2 {
    from {
      transform: translateY(-75px);
    }

    to {
      transform: translateY(0);
    }
  }

  @keyframes enter3 {
    from {
      transform: translateY(35px);
    }

    to {
      transform: translateY(0);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes in {
    from {
      opacity: 0;
      margin-bottom: 100px;
      rotate: 180deg;
    }

    to {
      opacity: 1;
      margin-bottom: 0;
      rotate: 0;
    }
  }



  @keyframes come-in {
    from {
      opacity: 0;
      transform: translateY(50px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes come-out {
    to {
      opacity: 0;
      transform: translateY(50px);
    }
  }

  @keyframes disappear {
    0% {
      opacity: 0.5;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes pulse {
    50% {
      opacity: .5;
    }
  }

  @keyframes slide-in-left {
    from {
      opacity: 0;
      transform: translateX(35px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}