* {
  padding: 0;
  margin: 0;
  user-select: none;
}

html {
  color-scheme: dark;
  font-size: 11.25px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(255, 255, 255, 0.653);
}

#date-time {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#date {
  font-size: 1.8rem;
}

#time {
  margin-top: -10px;
  pointer-events: none;
  font-size: 80px;
  font-weight: bold;
}

#shortcuts {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  max-width: 80rem;
  background-color: #222222c3;
  border: 1px solid #666;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

li {
  list-style: none;
}

.shortcut-item {
  position: relative;
  color: inherit;
  padding: 0.5rem;
}

.shortcut-icon {
  width: 24px;
}

.shortcut-name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
  background-color: #333333c8;
  border-radius: 0.5rem;
  border: 1px solid #888;
  display: none;
  max-width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.shortcut-item:hover .shortcut-name {
  display: block;
}

#welcome {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
}

#welcome h1 {
  display: flex;
  font-size: 2.5rem;
}

.welcome-text {
  display: inline-block;
}